<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--css  pag de BOOSTRAP -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <!-- JavaScript  pag de BOOSTRAP -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/assets/css/style-navbar_users.css">
      <script src="https://kit.fontawesome.com/9866fcad99.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="../assets/css/stylecontenido.css">
      <script src="/assets/js/script-navbar-users.js"></script>
      <title>foro</title>


</head>

<body>

      <header>
            <nav class="navbar navbar-expand-lg">
                  <div class="container-fluid">
                        <a href="index.html"> <img src="/assets/img/logotransparente.png" href="/index.html" alt="Logo">
                        </a>

                        <div class="collapse navbar-collapse" id="navbarNavDropdown">

                              <div class="dropdown">
                                    <a class="btn btn-warning dropdown-toggle" href="#" role="button"
                                          data-bs-toggle="dropdown" aria-expanded="false">
                                          <i class="fa-solid fa-user"></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-pen"></i>Editar
                                                      Perfil</a></li>
                                          <li><a class="dropdown-item" href="#"><i
                                                            class="fa-solid fa-book"></i>Certificados</a>
                                          </li>
                                          <li><a class="dropdown-item" href="#"><i
                                                            class="fa-solid fa-power-off"></i>Cerrar
                                                      Sesion</a></li>
                                    </ul>
                              </div>

                              <button class="btn btn nav" type="button"><a href="#" class="btn btn nav"
                                          target="_blank"><i class="fa-solid fa-bell"></i>
                                    </a></button>
                              <button class="btn btn nav" type="button"><a href="https://discord.com/"
                                          class="btn btn nav" target="_blank"><i class="fa-brands fa-discord"></i>
                                    </a></button>

                        </div>
                  </div>
            </nav>

            <div class="menu__side" id="menu_side">

                  <div class="options__menu">

                        <a href="#" class="selected">
                              <div class="option">
                                    <i class="fas fa-home" title="Inicio"></i>

                              </div>
                        </a>

                        <a href="#">
                              <div class="option">
                                    <i class="fa-solid fa-envelope" title="Mensajes"></i>

                              </div>
                        </a>



                  </div>

            </div>
      </header>





</body>

</html>